{% extends "danisaapp/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <style>
        #mapid { height: 800px; }
    </style>
    <link href="HydroShare.css" type="text/css" rel="stylesheet" />
       <title>
           HydroShare
       </title>

</head>
 <body>
      <h3>Visited Cities - Countries to Visit</h3><h2>Danisa Dolder - CEEN 514 - 03/05/2020</h2>

      <div id="mapid"></div>
 </body>
    <script>

    var mymap = L.map('mapid').setView([1.5, -33], 2.5);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 32,
    id: 'mapbox/streets-v11',
    accessToken: 'pk.eyJ1IjoiYWJoaXNoZWthbWFsMTgiLCJhIjoiY2s1eTVxNGExMmQ5MDNubjExaWY5MjdvbSJ9.3nmdjWZmUCDNyRdlPo5gbg'
}).addTo(mymap);

let CitiesVisited = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-61e50d713c84463e90bc89aeadca2aa6/wms', {
layers: 'Visited visited', //Title name
format: 'image/png', //depends on what you want to load in
transparent: true,
}).addTo(mymap);

let CountriestoVisit = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-61e50d713c84463e90bc89aeadca2aa6/wms', {
layers: 'to_visit tovisit', //Title name
format: 'image/png', //depends on what you want to load in
transparent: true,
}).addTo(mymap);

    var marker = L.marker([47.372612, 8.574279]).addTo(mymap).bindPopup('<h1>The Dolder Grand Hotel<br>Zurich -Switzerland</h1>' +
    '<img src = "dolder.jpg" width="300" height="200">');

    </script>

{% endblock %}

{% block app_actions %}

{% endblock %}
